*{
    padding: 0;
    margin: 0;
}
.imgs{
    max-width: 100%;
    height: auto;
}
html, body{
    height: 100%;
}

.logo{
    float: left;
    width: 150px;
    margin: 10px 0 0 -35px;
 
    }
 nav{
    border: 1px ;
    height: 80px;
    width: 100%; 
 }
 
 nav ul{
    float: right;
    margin-right: 20px;
 }
 
 nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px 0 10px;
 }
 
 nav ul li a {
    /* color: white; */
    font-size: 17px;
    text-transform: uppercase;
 }
 nav ul li a:hover{
    color: black;
    transition: .5;
 }
 
body{
    background:#ddd;
    font-family: poppins;
}

.section-header{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.section-header p{
    font-size: 18px;
}
.single-service{
    border: 1px solid #ebebeb;
    text-align: center;
    background:#fff;
}
.service-bg{
    height: 400px;
    position: relative;
}

.service-bg-1{
     background:url("../images/ca.jpg");
     -webkit-backface-size: cover;
     background-size: cover;
     -webkit-background-clip: no-clip;
     -moz-background-clip: no-clip;
     background-clip: no-clip;
     background-position: center;

}

.service-bg-2{
    background:url("../images/cats.webp");
    -webkit-backface-size: cover;
    background-size: cover;
    -webkit-background-clip: no-clip;
    -moz-background-clip: no-clip;
    background-clip: no-clip;
    background-position: center;
    
}

.service-bg-3{
    background:url("../images/buny.jpg");
    -webkit-backface-size: cover;
    background-size: cover;
    -webkit-background-clip: no-clip;
    -moz-background-clip: no-clip;
    background-clip: no-clip;
    background-position: center;
}

.service-bg h2{
    color: #fff;
    background: lightblue;
    font-size: 17px;
    text-align:center;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    left: 8%;
    width: 84%;
    margin: 0;
    bottom: -25px;
    border-radius: 50px;
    letter-spacing: 2px;
}
.single-service:hover .service-bg h2{
    background: #fff;
    transition: .9s;
    color: lightblue;
}

.service-text{
    font-size: 20px;
    padding:  450px 30px 20px;
    text-align: center;
}
.service-text p:last-child{
    margin: 0;
    line-height: 1.8;
}