li {
    text-decoration: none;
}
.container{
   height: 100%;
}
.logo{
   float: left;
   width: 150px;
   margin: 10px 0 0 -35px;

   }
nav{
   border: 1px ;
   height: 80px;
   width: 100%; 
}

nav ul{
   float: right;
   margin-right: 20px;
}

nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 10px 0 10px;
}

nav ul li a {
   /* color: white; */
   font-size: 17px;
   text-transform: uppercase;
}
nav ul li a:hover{
   color: black;
   transition: .5;
}

.cover{
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
}

.tab{
   margin-top: 8%;
   margin-right: 2%;
   align-self: center;
}

.logos{
   margin-left: 6%;
}